<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    mode="push"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="f26d5b">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/menu">メニュー</a>
      <a mat-list-item routerLink="/gacha-list">ガチャ一覧</a>
      <a mat-list-item routerLink="/content">コンテンツ一覧</a>
      <a mat-list-item>ログアウト</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="f26d5b">
      <button mat-button
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        あいうえお
      </button>
      <span>Application Title</span>
      <div>
        <div mat-card-avatar></div>
        <mat-card-title>{{ user_name }}</mat-card-title>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
