<mat-tab-group>
  <mat-tab label="ガチャ1">
    <mat-card class="gacha_card">
      <img mat-card-image src="/assets/picture/1.jpg" class="gacha_image">
      <mat-card-actions>
        <button mat-button>ガチャ</button>
        <button mat-button>10連ガチャ</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="ガチャ2">
    <mat-card class="gacha_card">
      <img mat-card-image src="/assets/picture/2.jpg" class="gacha_image">
      <mat-card-actions>
        <button mat-button>ガチャ</button>
        <button mat-button>10連ガチャ</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="ガチャ3">
    <mat-card class="gacha_card">
      <img mat-card-image src="/assets/picture/3.jpg" class="gacha_image">
      <mat-card-actions>
        <button mat-button>ガチャ</button>
        <button mat-button>10連ガチャ</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="ガチャ4">
    <mat-card class="gacha_card">
      <img mat-card-image src="/assets/picture/4.jpg" class="gacha_image">
      <mat-card-actions>
        <button mat-button>ガチャ</button>
        <button mat-button>10連ガチャ</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>